*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.blue{
    background: #3F91FF;
}

.transparent{
    background: white;
    color: grey!important;
}